<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="css/account.css"/> 
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/jquery-1.11.1.min.js"></script>
<body style="background-image: url(https://geniusmindgraphics.com/wp-content/uploads/2017/11/mobile-app-background.jpeg);">

<div class="container" style="margin-right: 180px;"> 
    <div class="row"> 
     <h1 class="text-center" style="color: black;">List Post</h1> 
     <div class="col-md-10 col-md-offset-1"> 
      <div class="panel panel-default panel-table" style="width: 1120px"> 
       <div class="panel-heading"> 
        <div class="row"> 
         <div class="col col-xs-6"> 
          <h4><a href="/account">
            Manager Account
          </a></h4>
          <h4><a href="/petBreed">
            Pet Breed
          </a></h4>
          <h4><a href="/vip">
            List Vip Message
          </a></h4>
          <div class="buttonLogOut" style=" font-size: large">
            <p>
              <a href="/listpet" style="color: orange;">
                List pet report
              </a>
                <a href="/logout" style="color: orange;">
                  Logout <span class="glyphicon glyphicon-log-out"></span>
                </a>
              </p>
         </div>
         <h3 class="panel-title"><form action="report" method="POST"><input type="submit" value="Search" ><input type="text" name="searchValue" placeholder="Search" ></form></h3>
         </div> 
         <div class="col col-xs-6 text-right"> 
         </div>   
        </div> 
       </div> 
       <div class="panel-body"> 
        <table class="table table-striped table-bordered table-list"> 
         <thead> 
          <tr> 
            <th><em class="fa fa-cog"></em>
           <th class="hidden-xs">ID</th> 
           <th>UserName</th>
           <th>Content</th>
           <th>Date of feedback</th>
           <th>Status</th>
          </tr> 
         </thead> 
         <tbody>
          <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
          <tr>
            <td align="center">
              <form action="statusfeedback" method="POST">
                <a class="btn btn-default" href="/statusfeedback?id=<%=data.id %>" type="submit" name="aaa"><em class="fa fa-pencil" ></em></a>
              </form>
            </td>
            <td class="hidden-xs"><%=data.id %></td>
            <td><input type="text" value="<%= data.name %>" name="name" readonly/></td>
            <td><textarea readonly><%=data.content %></textarea></td>
            <td><%=data.feedbacktime %></td>
            <td><input style="background-color: aqua;" type="text" value="<%= data.status %>" name="name" readonly/></td>
           </tr>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
        <% for(var j = 1; j < 10; j++) {%>
          <a href="/report?page=<%= j %>"><label style="margin: 5px;"><%= j %></label></a>
       <% } %>
        </tbody></table>
       </div>
      </div> 
     </div> 
    </div>
   </div>
  </body>